<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
   <session-factory>
   
      <property name = "hibernate.dialect">
         org.hibernate.dialect.MySQL5InnoDBDialect
      </property>
      
      <property name = "hibernate.connection.driver_class">
         com.mysql.jdbc.Driver
      </property>
      

      <property name = "hibernate.connection.url">
         jdbc:mysql://localhost/public_library
      </property>
      
      <property name = "hibernate.connection.username">
         root
      </property>
      
      <property name = "hibernate.connection.password">
         root
      </property>
      
      <property name = "show_sql">
         true
      </property>
      
      <property name = "hbm2ddl.auto">
         update
      </property>
      
      
      <mapping class='com.models.Author'></mapping>
      <mapping class='com.models.Book'></mapping>
      <mapping class='com.models.Category'></mapping>
      <mapping class='com.models.Rent'></mapping>
      <mapping class='com.models.RentDetails'></mapping>
      <mapping class='com.models.User'></mapping>
      
   </session-factory>
</hibernate-configuration> 